*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

@media (max-width: 768px) {
  .container {
    width: 100%; /* overrides fixed px width */
    padding: 10px;
    max-width: 1200px;}

    .about-section{
        flex-direction: column;
        align-items: center;
    }
    .about-card{
        max-width: 90%;
    }
    h2{
        font-size: 1.4rem;
    }
    p{
        font-size: 0.9rem;
        line-height: 1.4;
        padding: 0 10px;
    }
  }

 
html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding:0%;
    overflow-x: hidden;
    overflow-y: auto;
    
    align-items: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;

}


#main{ 

    height: 100%;
    width: 100%;
    background-color: rgb(225, 230, 234);
}
#header{
    height: 12%;
    width: 100%;
    background-color:white;
    position: fixed;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    overflow-x: auto;
    white-space:nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-behavior:smooth;
    flex: 0 0 auto;
}
.nav{
    display: flex;
}

#logo{
    height: 77%;
    margin: 20px;    
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
    

}
#strip p{
    font-size: medium;
    word-spacing: 3px;
}
.texts{
    background-color: white;
    padding: 10px;
    margin: 7px;
    
    color: darkblue;
    display: flex;
    font-weight: 100;
    font-size: small;
   


}
.texts:hover{
    color: lightblue;
}
#contactdetails{
    color: darkblue;
    padding: 10px;
    margin: 10px;
    margin-left: 27px;
    font-weight:lighter;
    font-size: smaller;

}
p{
    text-align: center;
    font-size: small;

}
.icon{
    margin-left: 20px;
    padding: 10px;
    border-radius: 50%;
    font-size: smaller;
    color: black;

}
.icon:hover{
     background-color: lightblue;
}
#login{
    display: flex;
    margin-left: 20px;  
    font-size: smaller;  
    padding: 10px;
    border-radius: 50%;
}
#login:hover{
    background-color: rgb(120, 171, 189);
}
#try{
    margin-left: 30px;
    font-size: smaller;
    margin-right: 20px;
    background-color: green;
    
    padding: 10px 20px;
    color: white;
    padding:10px 20px ;
    border-radius: 10%;
    transform: translate(-2px);

}
#try:hover{
    background-color: lightgreen
    ;
}

#page1{
height: 100%;
width: 100%;
background-color: rgb(241, 244, 253);
text-align: center;
padding: auto;
padding-top: 10px;


}
#strip{
    width: 100%;
    height: 7%;
    background-color: darkblue;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}


#content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #032d60;
    margin-top: 15px;
}
#content p {
    font-size: 1rem;
    color: #333;
    max-width: 700px;              
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin: 0px auto 20px auto ;
    margin-top: 30px;
    font-size: large;
   
}
.cta-btn, .secondary-btn {
    padding: 12px 24px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}

.cta-btn {
    background: #0176d3;
    color: white;
}
.cta-btn:hover {
    background: #005fb3;
}
.secondary-btn {
    background: white;
    border: 1px solid #0176d3;
    color: #0176d3;
}
.secondary-btn:hover {
    background: #e6f0fa;
}
#features {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
    gap: 20px;
    margin-top: 55px;
    padding: 0 20px;
    white-space: nowrap;
    overflow-x: auto;
   -webkit-overflow-scrolling: touch;
    flex: 0 0 auto;
    width:100%;
    
}



.feature-card i {
    font-size: 2rem;
    color: #0176d3;
    margin-bottom: 10px;
     white-space: nowrap;
    overflow-x: auto;
   
    flex: 0 0 auto;
}
.feature-card:hover {
    transform: translateY(-5px);
}

#page2{
    width:100% ;
    height: auto;
    background-color: rgb(252, 254, 255);
    
    }

#page2 h2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
#page2 p{
    color: #020c19;
   padding-bottom: 5px;
   
   margin-left: 0px;
   font-size: small;
   border-radius: 20px;
   margin-bottom: 0%;
    justify-content: left;
}

.about-section {
   display: flex;
    gap: 20px;
    margin-top: 20px;
    
   flex-direction: column;
    align-items: center;
    height: auto;
    background-image: url(https://wp.sfdcdigital.com/en-us/wp-content/uploads/sites/4/2024/12/marquee-our-story-bg.jpg?w=1024);
    background-size: cover;
    background-position: center;
    
    background-repeat: no-repeat;
    flex-wrap: wrap;
    padding: 20px;
}

.about-card {

    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
}
.about-card {
   
    padding: 20px;
    border-radius: 10px;
   max-height: 90%;
    max-width: 500px;
    text-align: center;
    width: 90%;
    
    
    justify-content: center;
    align-items: center;
}
.about-card img{
    width: 30%;
    margin-left: 0%;
    
    margin-bottom: 15px;

}










